h1 {
  font-size: 18px;
}

table {
  margin-top: 16px;
  border: 1px solid #cecece;
  box-shadow: 3px 3px 10px #cecece;
  font-size: 11px;
}

table > thead > tr > :nth-child(2),
table > tbody > tr > :nth-child(2) {
  max-width: 100px;
}